body {
  background: linear-gradient(#141e30, #243b55);
  font-family: Arial, sans-serif;
}

form {
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  margin: 50px auto;
  max-width: 500px;
  position: relative;
  animation: slidein 1s ease-out;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #ffffff;
}

label {
  display: block;
  margin-bottom: 10px;
  /* font-weight: bold;
   */
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  padding: 10px;
  border-radius: 5px;
  border: none;
  width: 100%;
  margin-bottom: 20px;
  box-sizing: border-box;
  font-size: 16px;
  color: #555;
  background-color: #f1f1f1;
}

input[type="submit"] {
  background-color: #05080a;
  color: #0055ff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s ease-out;
}

input[type="submit"]:hover {
  background-color: lavender;
}

.error {
  color: #ff0000;
  margin-bottom: 10px;
  animation: shake 0.5s ease-out;
  animation-iteration-count: 1;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-10px);
  }

  50% {
    transform: translateX(10px);
  }

  75% {
    transform: translateX(-5px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slidein {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
